.first-div {
    display: flex;
    position: relative
}

.left-sidebar {
    width: 165px;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    z-index: 1;
    border-right: 1px solid black
}

.settings-headers {
    color: grey;
    font-size: 12px;
    text-align: left !important;
    margin-right: 20px !important;
    width: 10 !important
}

.hr-tag {
    width: 120px
}

.sidebar-headers {
    color: grey;
    text-align: left;
    font-size: 12px !important
}

.sidebar-content {
    font-size: 12px;
    text-align: left;
}

.Navbar {
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid black
}

.image-1 {
    height: 30px;
    float: left
}

.back-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    /* margin-left: 15px; */
    margin-left: 41px
}

.Navbar-buttons {
    width: 40px;
    height: 33px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex: 1;
    margin-right: 5px !important
}

.vertical-line1 {
    color: grey;
    margin-top: 3px;
    margin-left: 5px
}

.vertical-line2 {
    color: grey;
    margin-top: 3px;
    margin-left: 9px !important
}

.ul-style {
    list-style: none;
    display: flex;
    gap: 20px
}

.button-div {
    display: flex;
    margin-top: 16px
}

.button-Navbar {
    width: 40px;
    height: 33px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex: 1;
    position: 'relative' !important
}

.orange-dot {
    position: absolute !important;
    top: -5px !important;
    right: -5px !important;
    width: 10px !important;
    height: 10px !important;
    background-color: orange !important;
    border-radius: 50% !important;
    border: 2px solid white !important
}

.call-button {
    width: 40px;
    height: 33px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex: 1;
    margin-right: 5px;
    margin-left: 7px
}

.profile-div {
    position: relative;
    display: inline-block
}

.profile-image {
    height: 33px;
    margin-left: 5px
}

.profile-greendot {
    position: 'absolute';
    bottom: '0';
    right: '0';
    width: '9px';
    height: '9px';
    background-color: 'green';
    border-radius: '50%';
}


.search-button {
    background-color: 'white' !important;
    margin-left: '7px' !important;
    border-radius: '6px 0 0 6px' !important;
    height: '30px' !important;
    display: 'flex' !important;
    align-items: 'center' !important;
    justify-content: 'space-between' !important
}

.div-background {
    padding: 20px;
    background-color: #e3f0f2
}


.profile-imagecircle {
    height: 33px;
    margin-left: 5px
}

.green-dot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 9px;
    height: 9px;
    background-color: green;
    border-radius: 50%;
}

.profile-place {
    position: relative;
    display: inline-block
}

.card-size {
    width: 230px;
    margin-left: 0;
    margin-right: 0;
    height: 205px;
    margin: auto
}

.card-container {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0
}


.card-section1 {
    margin-left: 13px;
    font-size: 14px;
}


.card-text {
    font-size: 14px;
    margin-left: 7px
}

.card-icons {
    height: 20px;
    float: left
}

.card-container2 {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
}


.card-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left:-20px */
}

.card-style2 {
    /* width: 230px; */
    height: 205px;
    margin: auto;
    margin-left: 0px
}

.card-title2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msd-logo {
    height: 70px
}

.card-logos2 {
    height: 70px
}

.card-text2 {
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center
}

.configure-button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 32px;
    width: 200px;
    text-align: center !important;
    margin-left:7px !important
}


.div-end {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
    height: 110px
}

.search-placeholder {
    height: 33px !important;
    border: 1px solid grey !important;
    border-radius: 0 6px 6px 0 !important
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 6px
}


.div-margintop {
    margin-top: 50px
}


.Navbar-header {
    margin-left: 30px
}

.vertical-span {
    margin-left: 17px
}

.back-label {
    margin-left: 6px
}

.caret-down {
    margin-left: 9px;
    margin-Top: 5px
}

.card-one {
    margin-left: 43px
}

.custom-space {
    margin-left: 5px
}

.icons-alignment {
    vertical-align: baseline
}

.text-alignment {
    vertical-align: bottom;
}

.toggle-alignment {
    vertical-align: text-bottom
}

.dropdown-style {
    position: absolute !important;
    top: 27% !important;
    right: 0 !important;
    z-index: 1000;
    display: list-item !important
}

.transparent-btn {
    background-color: transparent;
    border: none;
    /* Optional: To remove the button border */
}

.alignmnet {
    vertical-align: super
}

.sidebar-list {
    list-style-type: none;
    padding-left: 0;
}

.sidebar-list li {
    margin-bottom: 10px;
    /* Adjust this value to control the line spacing */
}

.sidebar-new {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.settings-header {
    vertical-align: middle
}

.container-card {
    margin-top: 25px
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}